.hotel-card {
  padding: 16px;
  border: 1px solid #e0e0e0;
  display: flex;
}

.hotel-card__side {
  flex-shrink: 0;
  margin-right: 16px;
}

.hotel-card__image {
  width: 160px;
}

.hotel-card__top {
  display: flex;
  align-items: center;
}

.hotel-card__title {
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  flex-grow: 1;
}
