body {
  margin: 0 auto;
  max-width: 600px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  padding: 16px;
  border: 1px solid #e0e0e0e0;
  outline-color: grey;
}

button {
  padding: 16px;
  color: white;
  background-color: navy;
  border: 1px solid navy;
}

button:hover {
  cursor: pointer;
  background-color: blue;
}
